*{margin: 0; padding: 0; box-sizing: border-box;}

body{
    font-family: 'Outfit', sans-serif;
    background-color: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 1.25rem;
}

.card{
    background-color: hsl(0, 0%, 100%);
   width: 20rem;
   max-width: 100%;
  height: 500px;
  padding: 1rem;
  border-radius: 1.25rem;
  box-shadow: 0 1.5rem 1.5rem rgba(0, 0, 0, 0.04); 
   text-align: center;
 


}
.card__img{
    width: 100%;
  height: auto;
  border-radius: 0.75rem;
  display: block;
}
.card__content {
  padding: 1.5rem 0.5rem 1rem; 
}

.card__title {
  font-size: 1.375rem; 
  font-weight: 700;
  color: hsl(218, 44%, 22%);
  margin-bottom: 1rem;
  line-height: 1.3;
}

.card__description {
  font-size: 0.9375rem;
  font-weight: 400;
  color: hsl(220, 15%, 55%);
  line-height: 1.4;
}

